.navbar-default {
  background-color: black;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
}

   .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-header .navbar-brand {
    color: white;
}
.body {
    color: grey;
}

