<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block head %}
    <title>Create Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
{% endblock %}
{% block content %}
    <h1 align="center">Create Post</h1>
    <form action="/createpost" method="post">
    <div align="center">
        <label> Title:</label>
        <input type="text" name="title">
    </div>
    <div align="center">
        <label  align="center">Content:</label>
        <textarea id="msg" name="content"></textarea>
    </div>
        <div class="button"  align="center">
        <button type="submit">Post</button>
    </div>
</form>
{% endblock %}
</html>