{% extends "layout.html" %}
{% block head %}
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
{% endblock %}
{% block content %}
    <h1 align="center" style="color:white">Click on Topics to see Related Post</h1>
    {% for topic in topics %}
    <a href="/topic/{{topic}}"><h1 align="center" style="color:white">{{topic}}</h1></a>
    {% endfor %}
{% endblock %}

