<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {% endblock %}
</head>

<body style="background-color:grey;">
  <nav class="navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        <div class="navbar-brand">Message Board</div>
    </div>
        <ul class="nav navbar-nav">
             <li><a href="/" class="color-me">Home</a></li>
            {% if session.get('username') != None %}
             <li><a href={{ "/user/" + session['username'] }} class="color-me">My Profile</a></li>
            {% endif %}
            {% if session.get('username') == None %}
            <li><a href="/login" class="color-me">Login</a></li>
            <li><a href="/register" class="color-me">Sign Up</a></li>
            {% endif %}
            {% if session.get('username') != None %}
            <li><a href="/createpost" class="color-me">Create Post</a></li>
             <li><a href="/logout" class="color-me">Log Out</a></li>
            {% endif %}
        </ul>
    </div>
  </nav>
  {% block content %}
{% endblock %}
</body>
</html>