<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block head %}
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
{% endblock %}
{% block content %}
  <h1 align="center" style="color:white">Login</h1>
  {% if invalid_creditals == True %}
  <p style="color:#b20000" align="center" style="padding:20px">username or password is invalid.</p>
  {% endif %}
  <form action="/login" method="post" align="center" style="padding:25px">
      UserName: <br>
      <input type="text" name="username"></br>
      Password: <br>
      <input type="password" name="password"></br>
      <br><input type="submit" value="Login"></br>
  </form>
{% endblock %}
</html>