<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block head %}
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
{% endblock %}
{% block content %}
  <form action="/register" method="post">
      UserName: <br>
      <input type="text" name="username"></br>
      Password: <br>
      <input type="text" name="password"></br>
      <input type="submit" value="Execute">
  </form>
{% endblock %}
</html>