{% extends "layout.html" %}
{% block head %}
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endblock %}
{% block content %}
<h1 align="left" style="color:white">Username: {{username}}</h1>
<h1 align="left" style="color:white">Date Joined: {{datejoined}}</h1>
{% if not user_post %}
<h2 align="center" style="color:white" style="padding:20px"> User has not posted yet</h2>
{% else %}
<h2 align="center" style="color:white" style="padding:20px">User's Post</h2>
{% for post in user_post %}
    {% if find_post(post)%}
    <div id="post-layout" align="center" style="padding:25px">
    <p class="text" style="color:white"  style="padding:25px">{{find_post(post)['text']}}</p>
    <p class="text" style="color:white" style="padding:10px">~By {{username}}</p>
        {% if session.get('username') != None %}
        <a href={{'/delete/' + find_post(post)['post_id']}} <p class="text" style="color:white" style="padding:10px"> Delete</p>
        {% endif %}
    </div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}